<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="BMCM_WinApp.Properties.Settings.DEV2" connectionString="TNS_ADMIN=C:\Users\kxsing2\Oracle\network\admin;USER ID=BMP_DEV_STG_LANDING2;PASSWORD=bmp_dev_stg_landing2;DATA SOURCE=mdcora_cl2_db47.corp.intranet:1567/bmpdev1;PERSIST SECURITY INFO=True"
            providerName="Oracle.ManagedDataAccess.Client" />
		<add name="BMCM_WinApp.Properties.Settings.DEVSI2" connectionString="TNS_ADMIN=C:\Users\kxsing2\Oracle\network\admin;USER ID=BMP_DEVSI_STG_LANDING2;PASSWORD=bmp_devsi_stg_landing2;DATA SOURCE=mdcora_cl2_db55.corp.intranet:1569/bmpdvsi2;PERSIST SECURITY INFO=True"
            providerName="Oracle.ManagedDataAccess.Client" />
		<add name="BMCM_WinApp.Properties.Settings.Dev1" connectionString="TNS_ADMIN=C:\Users\kxsing2\Oracle\network\admin;USER ID=BMP_DEV_STG_LANDING2;PASSWORD=bmp_dev_stg_landing2;DATA SOURCE=mdcora_cl2_db47.corp.intranet:1567/bmpdev1;PERSIST SECURITY INFO=True"
            providerName="Oracle.ManagedDataAccess.Client" />
		<add name="BMCM_WinApp.Properties.Settings.Devsi4" connectionString="TNS_ADMIN=C:\Users\kxsing2\Oracle\network\admin;USER ID=BMP_DEVSI_STG_LANDING4;PASSWORD=bmp_devsi_stg_landing4;DATA SOURCE=mdcora_cl2_db56.corp.intranet:1571/bmpdvsi3;PERSIST SECURITY INFO=True"
            providerName="Oracle.ManagedDataAccess.Client" />
		<add name="BMCM_WinApp.Properties.Settings.Test2" connectionString="TNS_ADMIN=C:\Users\kxsing2\Oracle\network\admin;USER ID=BMP_TEST_STG_LANDING2;PASSWORD=bmp_test_stg_landing2;DATA SOURCE=mdcora_cl2_db58.corp.intranet:1570/bmpsyst2;PERSIST SECURITY INFO=True"
            providerName="Oracle.ManagedDataAccess.Client" />
		<add name="BMCM_WinApp.Properties.Settings.Dev24" connectionString="TNS_ADMIN=C:\Users\kxsing2\Oracle\network\admin;USER ID=BMP_DEV_STG_LANDING2;PASSWORD=bmp_dev_stg_landing2;DATA SOURCE=mdcora_cl2_db47.corp.intranet:1567/bmpdev1;PERSIST SECURITY INFO=True"
            providerName="Oracle.ManagedDataAccess.Client" />
		<add name="BMCM_WinApp.Properties.Settings.Prod" connectionString="TNS_ADMIN=C:\Users\kxsing2\Oracle\network\admin;USER ID=BMP_STG_DS_LANDING1;PASSWORD=Land1n!Sds_1019;DATA SOURCE=BMP001PDB.CORP.INTRANET:1537/BMP001P;PERSIST SECURITY INFO=True"
            providerName="Oracle.ManagedDataAccess.Client" />
		<add name ="BMCM_WinApp.Properties.Settings.Devsi4Mongo" connectionString="mongodb://BMP_dba:BMP_dba_ctl123@vlmddmong12.test.intranet:11000"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>